<section class="featured">
  <div class="container">
    <div class="title">
      <h3>Features</h3>
      <p class="f-des">
        A compass that connects you to the best local markets, food vans, merchants, specialty stores & professionals
      </p>
    </div>
    <div class="feature-left">
      <div class="bg">
        <div class="heading">
          Always know where &<br/> when local markets are on
        </div>
        <div class="des">
          Explore vibrant atmospheres,<br /> awaken the senses to unique stalls & the goodness of fresh local produce
        </div>
      </div>
      <div class="image">
        <img class="img-reponsive d-none d-lg-block" src="/assets/images/1920px_1/section-2-market-image.png" alt="">
        <img class="img-reponsive d-lg-none" src="/assets/images/768px_1/section-2-market-image.jpg" alt="">
      </div>
    </div>
    <div class="feature-right">
      <div class="bg">
        <div class="heading">
          Food vans serving now…
        </div>
        <div class="des">
          Locate the nearest one to you, keep <br/> track of various locations, trading <br/>times, updated menus & more
        </div>
      </div>
      <div class="image">
        <img class="img-reponsive d-none d-lg-block" src="/assets/images/1920px_1/section-2-foodvans-image.png" alt="">
        <img class="img-reponsive d-lg-none" src="/assets/images/768px_1/section-2-foodvans-image.jpg" alt="">
      </div>
    </div>
    <div class="feature-left">
      <div class="bg">
        <div class="heading">
          Enjoy merchants<br/> who aspire to quality
        </div>
        <div class="des">
          From artisans to the finest coffee & <br/> specialty stores, marco connects <br/> you to the best each town has to <br/> offer
        </div>
      </div>
      <div class="image">
        <img class="img-reponsive d-none d-lg-block" src="/assets/images/1920px_1/section-2-merchant-image.png" alt="">
        <img class="img-reponsive d-lg-none" src="/assets/images/768px_1/section-2-merchant-image.jpg" alt="">
      </div>
    </div>
    <hr />
  </div>
</section>
