<header>
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-xl-6 col-left">
        <h1 class="heading">
          Discover interesting things...
        </h1>
        <h2 class="subheading">
          Explore what Marco has to offer
        </h2>
        <div class="btn-group-store xl-mt-20">
          <a class="btn btn-appstore" href="#" role="button"></a>
          <a class="btn btn-ggstore xl-ml-20" href="#" role="button"></a>
        </div>
        <div class="welcome">
          <h3 class="text-left">Welcome</h3>
          <div class="text">
            Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. In imperdiet eros id lacus vestibulum vestibulum. Suspendisse fermentum sem sagittis ante venenatis egestas quis vel justo.
          </div>
        </div>
      </div>
      <div class="col-md-5 col-xl-6 col-right">
        <div class="phone">
          <img src="/assets/images/1920px_1/section-1-iphone.png" alt="">
        </div>
      </div>
    </div>
    <hr />
  </div>
</header>
