@import "variables";
app-contact {
    .contact-form {
        background-image: url('/assets/images/1920px_1/footer_bgImage.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 840px;
        padding-top: 310px;
        @include tablet {
            padding-top: 337px;
            height: 868px;
        }
        @include mobile {
            padding-top: 199px;
            height: 616px;
        }
        .form-container {
            width: 374px;
            margin: auto;
            @include mobile {
                width: 324px;
            }
            h1 {
                font-family: $opensans;
                font-size: 48px;
                font-weight: 600;
                line-height: 1.08;
                text-align: center;
                color: #ffffff;
                margin-bottom: 20px;
                @include mobile {
                    font-size: 36px;
                    font-weight: 600;
                    line-height: 1.17;
                    margin-bottom: 39px;
                }
            }
            .btn-submit {
                width: 100%;
                margin-top: 29px;
                @include mobile {
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 1.43;
                    margin-top: 31px;
                    height: 40px;
                }
            }
            .form-group {
                @include mobile {
                    height: 40px;
                    margin-bottom: 8px;
                }
            }
            .form-control {
                @include mobile {
                    font-size: 13px;
                    line-height: 1.54;
                    height: 40px;
                }
            }
        }
    }
}