/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "assets/fonts/custom-font.scss";
@import "~bootstrap/scss/_functions.scss";
@import "assets/scss/bootstrap_var";
@import "~bootstrap/scss/bootstrap.scss";
@import "~nanoscroller/bin/css/nanoscroller.css";
@import "buttons";
@import "forms";
@import "components";

html {
    min-height: 100%;
    height: 100%;
    body {
        font-family: Roboto;
        font-size: 12px;
        min-height: calc(100vh);
        height: calc(100vh);
        // @include tabletandmobile {
        //     min-height: calc(100vh - 64px);
        //     height: calc(100vh - 64px);
        // }
    }
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}

div.horizontal {
    display: flex;
    justify-content: center;
}

div.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*remove to enable scroll - fix test perfect pixel*/
.nano {
    overflow: auto;
}

.nano > .nano-content {
    position: inherit;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
    _background-color: #f0f0f0;
    opacity: 0.2;
}

* {
    -ms-overflow-style: none!important;
}


/*remove to enable scroll*/

.nano > .nano-pane {
    border-radius: 0px;
}
.nano > .nano-pane > .nano-slider {
    border-radius: 0px;
}


/*custom modal*/
// .modal-dialog.modal-custom {
//     width: 499px;
//     height: 288px;
//     margin-top: 288px;
//     .modal-content {
//         border: none;
//         border-radius: 0;
//         height: 100%;
//         .modal-body {
//             padding: 0;
//             font-family: Muli;
//             font-size: 17px;
//             font-weight: 300;
//             line-height: 1.65;
//             text-align: center;
//             color: #8d8d8d;            
//             .btn-normal {
//                 cursor: pointer;
//                 color: #b6985a;
//                 width: 151px;
//                 height: 48px;
//                 margin-top: 28px;
//                 &:hover, &:active {
//                     color: white;
//                 }
//             }
//         }
//         .heading {
//             font-family: $opensans;
//             font-size: 24px;
//             font-weight: 600;
//             line-height: 1.25;
//             text-align: center;
//             color: #121518;
//             margin-top: 48px;            
//             width: 372px;
//             margin-left: auto;
//             margin-right: auto;
//         }
//     }
// }
/*custom backdrop*/
.modal-backdrop.show {
    opacity: 1;
}
.modal-backdrop {
    background-color: rgba(84, 68, 40, 0.9);
}

.modal-open {
    overflow: hidden!important;
}

.content {
    // min-height: calc(100vh - (72px + 96px));
}